/* Fundamental setup */
@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 227, 224);
}

/* "Catalogue Item" is the poster as a concrete object.
Featuring: The 'Netflix' catalogue */
.catalogue_item {
    z-index: 1;
    min-width: 200px;
    min-height: 500px;
    max-width: 220px;
    max-height: 550px;
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}

/* "Hoverable Catalogue Item" makes up the visual communication for the 'Netflix' catalogue section */
.hoverable_catalogue_item:hover {
    color: brown;
    width: 220px;
    height: 550px;
}
.hoverable_catalogue_item:not(:hover) {
    width: 200px;
    height: 500px;
 }

 /* To ensure that the 'Netflix' catalogue isn't suffocating */
td {
    padding: 15px;
}

/* Styling the paragraph and recipe section(s) */
h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 80px;
}
li {
    list-style-type: disc;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    padding-left: 40px;
    padding-top: 20%
    /*width: 50%;*/
    /*border: solid black 4px;*/
}
list {
    font-family: 'Kurale', serif;
    width: 100%;
    height: 100%;
}

/* Enableing the intended UI for the paragraph and recipe section */
/* table {
    width: 100%;
    height: 100%;
    border: none black 1px;
}
tr {
    width: 100px;
    height: 100%;
    border: none black 1px;
}
td {
    height: 100%;
    border: none black 1px;
} */

/* TEST SECTION Alternative to table method */
section {
    display: flex;
    flex-direction: row;
    margin: 1vh;
}
.ingredients_div {
    text-align: left;
    align-items: center;
    width: 200px;
    height: 500px;
    margin: 2vh;
    padding: 2vh;
}
a {
    margin: 1vh;
}