 /* Fundamental setup */
 @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 227, 224);
}

/* Style for the Header 1
Featuring: The welcome sign */
h1 {
    font-family: 'Kurale', serif;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
    padding: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Header 2
Featuring: "All Recipes", and "Find me" */
h2 {
    font-family: 'Kurale', serif;
    margin-left: 5%;
    margin-top: 100px;
    text-align: left;
}

nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Enabling digital horizontal scroll bar to make the 'netflix' catalogue friendly for mouse users */
iframe {
    border: none;
    overflow: scroll;
}

h3 {
    font-family: 'Kurale', serif;
    text-align: center;
}

footer > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    color: black;
}

footer {
    width: 100%;
    background-color: white;
}

i {
    color: black;
}
i:hover {
    color: brown;
}