 /* Fundamental setup */
 @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 227, 224);
}

/* Style for the Header 1
Featuring: The welcome sign */
/* small phone(s) */ @media screen and (max-width: 375px) {
    #welcome_sign {
        font-size: 30px;
        width: 300vw;
        padding: 10px;
    }
}
/* big phone(s)*/ @media screen and (min-width: 375px) {
    #welcome_sign {
        font-size: 30px;
        width: 300px;
        padding: 10px;
    }
}
/* tablet(s) */ @media screen and (min-width: 768px) {
    #welcome_sign {
        font-size: 50px;
        width: 700px;
        padding: 30px;
    }
} 
/* computer(s) */ @media screen and (min-width: 1200px) {
    #welcome_sign {
        font-size: 50px;
        width: 700px;
        padding: 30px;
    }
}
#welcome_sign {
    font-family: 'Kurale', serif;
    border: solid black 3px;
    background-color: white;
    box-shadow: 0 1px 8px rgb(78, 77, 83);
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
}

/* the logo home button in the top left corner */
#logo {
    font-family: 'Kurale', serif;
    position: fixed;
    /* Any sign, such as the welcome sign must have an margin of 4vh */
    top: 2vh;
    z-index: 99;
    font-size: 3vh;
}
.logo > a {
    color: black;
    text-decoration: none;
}
.logo > a:hover {
    color: brown;
}

/* Name of recipe when you click the poster. Intended for <h1> */
#recipe_header {
    text-align: center;
    margin-top: 8vh;
    font-family: 'Kurale', serif;
    font-size: 6vh;
    text-decoration: underline;
}

/* Header 2
Featuring: "All Recipes", and "Find me" */
h2 {
    font-family: 'Kurale', serif;
    margin-left: 8vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: left;
}

/* navigation bar */
nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Enabling digital horizontal scroll bar to make the 'netflix' catalogue friendly for mouse users */
iframe {
    border: none;
    overflow: scroll;
}

/* social media */
#socials > ul {
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    color: black;
}
#my_social_media {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: normal;
    position: relative;
    top: 1vh;
}

/* the footer
featuring my socials */
footer {
    width: 100%;
    background-color: white;
}
i {
    color: black;
}
i:hover {
    color: brown;
}

/* "Catalogue Item" is the poster as a concrete object.
Featuring: The 'Netflix' catalogue */
.catalogue_item {
    z-index: 1;
    width: 200px;
    height: 500px;
    min-width: 200px;
    min-height: 500px;
    max-width: 220px;
    max-height: 550px;
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Kurale', serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}

/* "Hoverable Catalogue Item" makes up the visual communication for the 'Netflix' catalogue section */
.hoverable_catalogue_item:hover {
    color: brown;
    min-width: 220px;
    min-height: 550px;
    box-shadow: 0 10px 18px rgb(78, 77, 83);
}
.hoverable_catalogue_item:not(:hover) {
    width: 200px;
    height: 500px;
 }

 /* To ensure that the 'Netflix' catalogue isn't suffocating */
td {
    padding: 15px;
}

/* Styling the paragraph and recipe section(s) */
h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 5vh;
    padding-top: 8vh;
}

/* @media screen (min-width: 668px) {

} */

.test {
    display: flex;

}

#paragraph {
    border-radius: 1vh;
    box-shadow: 0 1px 8px rgb(78, 77, 83);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 8vh;
    margin-right: 15vh;
    margin-bottom: auto;
    padding: 3vh;
}

/* 'Netflix* styles setup, used only within a recipe page*/
.netflix {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-left: 10%;
}
#ingredients_div > ul {
    font-family: 'Kurale', serif;
    text-align: left;
    align-items: center;
    width: 200px;
    height: 500px;
    margin-left: 4vh;
    padding-left: 4vh;
    list-style-type: disc;
}
a {
    margin: 2vh;
}

