 /* Fundamental setup */
 @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 227, 224);
}

/* Style for the Header 1
Featuring: The welcome sign */
h1 {
    font-family: 'Kurale', serif;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
    padding: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

/* the logo home button in the top left corner */
.logo {
    font-family: 'Kurale', serif;
    position: fixed;
    margin-left: 2vh;
    
    z-index: 99;
}
.logo > a {
    color: black;
    text-decoration: none;
}
.logo > a:hover {
    color: brown;
}


/* Header 2
Featuring: "All Recipes", and "Find me" */
h2 {
    font-family: 'Kurale', serif;
    margin-left: 5%;
    margin-top: 100px;
    text-align: left;
}

nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Enabling digital horizontal scroll bar to make the 'netflix' catalogue friendly for mouse users */
iframe {
    border: none;
    overflow: scroll;
}

h3 {
    font-family: 'Kurale', serif;
    text-align: center;
}

list > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    color: black;
}

/* the footer
featuring my socials */
footer {
    width: 100%;
    background-color: white;
}
i {
    color: black;
}
i:hover {
    color: brown;
}

/* unifying both css */

/* "Catalogue Item" is the poster as a concrete object.
Featuring: The 'Netflix' catalogue */
.catalogue_item {
    z-index: 1;
    min-width: 200px;
    min-height: 500px;
    max-width: 220px;
    max-height: 550px;
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}

/* "Hoverable Catalogue Item" makes up the visual communication for the 'Netflix' catalogue section */
.hoverable_catalogue_item:hover {
    color: brown;
    width: 220px;
    height: 550px;
}
.hoverable_catalogue_item:not(:hover) {
    width: 200px;
    height: 500px;
 }

 /* To ensure that the 'Netflix' catalogue isn't suffocating */
td {
    padding: 15px;
}

/* Styling the paragraph and recipe section(s) */
h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 20px;
    padding-top: 80px;
}
li {
    list-style-type: disc;
}
.paragraph {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    align-items: center;
    padding-left: 40px;
    padding-top: 20%
}

/* 'Netflix* styles setup */
.netflix {
    display: flex;
    flex-direction: row;

}
.ingredients_div {
    text-align: left;
    align-items: center;
    width: 200px;
    height: 500px;
    margin: 2vh;
    padding: 2vh;
}
a {
    margin: 2vh;
}