 /* Fundamental setup */
 @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 227, 224);
}
/* END for setup*/

/* Style for the Header 1
Featuring: The welcome sign */
/* phone(s) */ @media screen and (max-width: 768px) {
    #welcome_sign {
        font-size: 30px;
        width: auto;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
/* tablet(s) and computer(s) */ @media screen and (min-width: 768px) {
    #welcome_sign {
        font-size: 50px;
        width: 700px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
    }
} 

#welcome_sign {
    font-family: 'Kurale', serif;
    border: solid black 3px;
    background-color: white;
    box-shadow: 0 1px 8px rgb(78, 77, 83);
    border-radius: 5px;
    text-align: center;
    margin-top: 8vh;
    transition: all 0.4s ease;
}
/* END for Header 1 */

/* the logo home button in the top left corner */
#logo {
    font-family: 'Kurale', serif;
    position: fixed;
    /* Any sign, such as the welcome sign must have an margin of 4vh */
    top: 2vh;
    z-index: 99;
    font-size: 3vh;
}
.logo > a {
    color: black;
    text-decoration: none;
}
.logo > a:hover {
    color: brown;
}
/* END for the logo */

/* Name of recipe when you click the poster.
Featuring <h1> at the catalogues.html(s) */
#recipe_header {
    text-align: center;
    margin-top: 8vh;
    font-family: 'Kurale', serif;
    font-size: 6vh;
    text-decoration: underline;
}
/* END of name */

/* Header 2
Featuring: "All Recipes", and "Find me" */
h2 {
    font-family: 'Kurale', serif;
    margin-left: 8vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    text-align: left;
}
/* END for h2 style */

/* navigation bar */
nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
/* END for navigation bar */

/* Enabling digital horizontal scroll bar to make the 'netflix' catalogue friendly for mouse users */

iframe {
    border: none;
    overflow: scroll;
    width: 100%;
}
/* phone(s) */ @media screen and (max-width: 768px) {
    iframe {
    height: 460px;    
    }
}
/* tablet(s) and computer(s) */ @media screen and (min-width: 768px) {
    iframe {
    height: 610px;
    }
} 

/* Footer and socials
Featuring social media section */
#socials > ul {
    padding-bottom: 6vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    color: black;
}
#my_social_media {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    letter-spacing: normal;
    position: relative;
    top: 1vh;
}
footer {
    width: 100%;
    background-color: white;
}
i {
    color: black;
}
i:hover {
    color: brown;
}
/* END for footer and socials */

/* Catalogue Item
Featuring: The 'Netflix' catalogue */
.catalogue_item {
    z-index: 1;
    border: solid black 5px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Kurale', serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}
/* phone(s) */ @media screen and (max-width: 1024px) {
.catalogue_item {
    width: 150px;
    height: 375px;
    min-width: 150px;
    min-height: 375px;
    max-width: 150px;
    max-height: 375px;
}
}
/* tablet(s) and computer(s) */ @media screen and (min-width: 1024px) {
.catalogue_item {
    width: 200px;
    height: 500px;
    min-width: 200px;
    min-height: 500px;
    max-width: 220px;
    max-height: 550px;
    }
}

td {
    padding: 15px;
}
/* END of the 'Netflix' catalogue item */

/* "Hoverable Catalogue Item" makes up the visual communication for the 'Netflix' catalogue section */
/* phone(s) */ @media screen and (max-width: 1024px) {
    .hoverable_catalogue_item:hover {
        min-width: 165px;
        min-height: 412.5px;
    }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
}
    /* tablet(s) and computer(s) */ @media screen and (min-width: 1024px) {
    .hoverable_catalogue_item:hover {
        min-width: 220px;
        min-height: 550px;
        }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
}
.hoverable_catalogue_item:hover {
    color: brown;
/*    min-width: 220px;
    min-height: 550px; */
    box-shadow: 0 10px 18px rgb(78, 77, 83);
}


/* Styling the paragraph and recipe section(s) */
h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 5vh;
    padding-top: 8vh;
}
#paragraph {
    border-radius: 1vh;
/*    box-shadow: 0 1px 8px rgb(78, 77, 83); */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding: 3vh;
    margin: 50px;
}
/* @media screen and (max-width: 375px) {
    #paragraph {
        margin-top: 5px;
        margin-left: 5px;
    }
}
@media screen and (min-width: 375px) {
    #paragraph {
        margin-top: 5px;
        margin-left: 5px;
    }
} */
@media screen and (min-width: 768px) {
    #paragraph {
        margin-right: 180px;
        margin-left: 180px;
    }
}
@media screen and (min-width: 1024px) {
    #paragraph {
        margin-top: 30px;
        margin-left: 30px;
    }
}
/* END */

/* 'Netflix' styles setup
Featuring the scrolling catalogues */
.netflix {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
}
/* END for Netflix*/

/* Featuring each recipe page */
@media screen and (max-width: 375px) {
    #drink_paragraph_location {
        display: flex;
        flex-direction: column; /*
        margin-left: 45px;
        margin-right: 45px; */
    }
}
@media screen and (min-width: 375px) {
    #drink_paragraph_location {
        display: flex;
        flex-direction: column;
        /* margin-left: 45px;
        margin-right: 45px; */
    }
}
@media screen and (min-width: 1024px) {
    #drink_paragraph_location {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px; /*
        margin-right: 120px; */
    }
}
@media screen and (min-width: 1200px) {
    #drink_paragraph_location {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px; /*
        margin-right: 120px; */
    }
}

#ingredients_div > ul {
    font-family: 'Kurale', serif;
    text-align: left;
    align-items: center;
    margin-left: 4vh;
    padding-left: 4vh;
    list-style-type: disc;
}

a {
    margin: 2vh;
}
/* END */