@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Kurale', serif;
    margin-bottom: 2vh;
    text-align: center;
}

h3 {
    font-family: 'Kurale', serif;
    font-size: large;
    text-decoration: underline;
    padding-left: 5vh;
    padding-top: 8vh;
}

/* General navigation style */
nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}

/* General navigation style */
nav>a {
    text-decoration: none;
}

/* General navigation style */
nav>a:hover {
    color: #A2525A;
    text-decoration: underline;
}

a {
    margin: 2vh;
}

i {
    color: #FEF8F6;
}

i:hover {
    color: #A2525A;
}

/* Red diamond pattern showing up at large screens */
body {
    background-image: url("../static/images/wallpaper.png");
    background-attachment: fixed;
}

footer {
    background-color: #2c2937;
    height: 150px;
}

/* General style for submit form */
input[type=email], input[type=name], input[type=submit], .contact_author {
    width: 260px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    border-width: 3px;
    border-radius: 10px;
    background-color: #FEF8F6;
}

/* General style for submit form */
textarea {
    width: 260px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    border-width: 3px;
    border-radius: 10px;
    background-color: #FEF8F6;
}

/* General style for submit form */
input[type=submit]:hover {
    background-color: #C17387;
    text-decoration: underline;
    color: #FEF8F6;
}

label {
    padding: 5px;
    display: table;
}

.grey_font {
    color: #6E6C77;
}

.black_font, nav>a {
    color: #3E3B4D;
}

.white_font {
    color: #FEF8F6;
}

.theme_font {
    color:#A2525A;
}

.welcome_sign {
    font-family: 'Kurale', serif;
    border: solid #3E3B4D 6px;
    color: #3E3B4D;
    background-color: #ffffff;
    box-shadow: 0 1px 8px #6E6C77;
    border-radius: 5px;
    border-style: double;
    text-align: center;
    margin-top: 8vh;
    /* smooth transition between rescaling window */
    transition: all 0.4s ease;
}

/* "Back to Home Page" and "Back to Top" will ALWAYS appear the same anywhere, at the same position */
.home_button { 
    font-family: 'Kurale', serif;
    position: fixed;
    top: 2vh;
    z-index: 99;
    font-size: 20px;
    border: solid #3E3B4D 2px;
    border-radius: 3px;
    background-color: #FEF8F6;
    color: #3E3B4D;
}

/* "Back to Home Page" and "Back to Top" when not hovering */
.home_button > a {
    text-decoration: none;
    color: #3E3B4D;
}

/* "Back to Home Page" and "Back to Top" when hovering */
.home_button > a:hover {
    color: #A2525A;
    text-decoration: underline;
}

/* width variation in media queries */
.confirmation_page_home_button {
    font-family: 'Kurale', serif;
    font-size: 3vh;
    border: solid #3E3B4D 2px;
    border-radius: 3px;
    background-color: #FEF8F6;
    margin-left: auto;
    margin-right: auto;
    color: #3E3B4D;
    text-decoration: none;
}

.confirmation_page_home_button:hover {
    text-decoration: underline;
    color: #A2525A;
}

.recipe_header {
    text-align: center;
    margin-top: 8vh;
    font-family: 'Kurale', serif;
    font-size: 6vh;
    text-decoration: underline;
}

.text_center {
    text-align: center;
    justify-content: center;
}

.socials_icon_style {
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.catalogue_item {
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    /* smooth transition between rescaling window */
    transition: all 0.4s ease;
}
.hoverable_catalogue_item:hover {
    box-shadow: 0 10px 18px #6E6C77;
} 

/* Poster in full colour */
.hornan_tonic:hover {
    content: url(../static/images/hornan_tonic_paint.png);
}

/* Poster in full colour */
.gessi_tonic:hover {
    content: url(../static/images/gessi_tonic_paint.png);
}

/* Poster in full colour */
.irish_coffee:hover {
    content: url(../static/images/irish_coffee_paint.png);
}

/* Poster in full colour */
.sparkling_liquid:hover {
    content: url(../static/images/sparkling_liquid_paint.png);
}

.text_center {
    text-align: center;
    text-transform: none;
}

/* Giving the drink poster at its recipe page room to breathe */
.catalogue_alignment {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/* Each drinks poster appear at the center of the screen*/
.wrap_catalogue_alignment {
    flex-wrap: wrap;
    justify-content: center;
}

/* Appearance for the ingredients list */
.ingredients_div > ul {
    width: 140px;
    font-family: 'Kurale', serif;
    text-align: left;
    align-items: center;
    margin-left: 4vh;
    padding-left: 4vh;
    list-style-type: disc;
}

.paragraph_font {
    font-family: Arial, Helvetica, sans-serif;
}

/* input fields appear at the middle */
.submit_styling {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* The mascot with green hair at the welcome and confirmation page*/
.mascot_elderflower {
    background-image: url("../static/images/elderflower_host.png");
    background-position: center;
    background-size: 100%;
}

/* Phone (test for Galaxy Fold) */
@media screen and (max-width: 768px) {

    .drink_page_layout {
        display: flex;
        flex-direction: column; 
        margin-left: 10px;
        margin-right: auto;
    }

    .welcome_sign {
        font-size: 25px;
        width: auto;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    /* cocktail poster */
    .catalogue_item {
        width: 100px;
        height: 250px;
        min-width: 100px;
        min-height: 250px;
        max-width: 100px;
        max-height: 250px;
    }

    /* cocktail poster in full colour */
    .hoverable_catalogue_item:hover {
        min-width: 125px;
        min-height: 312.5px;
    }

    /* cocktail poster */
    .hoverable_catalogue_item:not(:hover) {
        width: 100px;
        height: 250px;
    }

    /* Ensure that the story about the drink appear either next to, or below the poster and ingredient */
    .drink_paragraph_layout {
        text-align: justify;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: auto;
    }

    /* Giving the drink poster at its recipe page room to breathe */
    .catalogue_alignment {
        margin-left: auto;
        margin-right: auto;
    }

    .about_us_width {
        text-align: justify;
        width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    /* Preventing interference with the red diamond pattern*/
    hr {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* The off-white background appearing between the red diamond pattern */
    .main_background {
        width: 100%;
    }

    .confirmation_page_home_button {
        width: 200px;
    }
}

    /* Standing tablet (test for iPad Mini) */
@media screen and (min-width: 768px) {
        hr {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .drink_page_layout {
            display: flex;
            flex-direction: column;
            margin-left: 45px;
            margin-right: 45px;
        }

        .welcome_sign {
            font-size: 50px;
            width: 700px;
            padding: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        /* cocktail poster */
        .catalogue_item {
            width: 150px;
            height: 375px;
            min-width: 150px;
            min-height: 375px;
            max-width: 150px;
            max-height: 375px;
        }

        /* cocktail poster in full colour */
        .hoverable_catalogue_item:hover {
            min-width: 165px;
            min-height: 412.5px;
        }

        /* cocktail poster */
        .hoverable_catalogue_item:not(:hover) {
            width: 200px;
            height: 500px;
        }

        /* Ensure that the story about the drink appear either next to, or below the poster and ingredient */
        .drink_paragraph_layout {
            text-align: justify;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: auto;
        }

        /* Giving the drink poster at its recipe page room to breathe */
        .catalogue_alignment {
            margin-left: auto;
            margin-right: auto;
        }

        .about_us_width {
            text-align: justify;
            width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        /* The off-white background appearing between the red diamond pattern */
        .main_background {
            width: 100%;
        }

        .confirmation_page_home_button {
            width: 300px;
        }
    } 

        /* The off-white background appearing between the red diamond pattern. Width variation found in the media queries */
    .main_background {
        margin-left: auto;
        margin-right: auto;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        border: solid #3E3B4D 3px;
        background-color: #e1d7db;
    }

     /* Lying tablet (test for iPad Mini) */
@media screen and (min-width: 1024px) {
        
        .drink_page_layout {
            display: flex;
            flex-direction: row; 
            margin-left: 45px;
            margin-right: 45px; 
        }

        /* cocktail poster */
        .catalogue_item {
            width: 150px;
            height: 375px;
            min-width: 150px;
            min-height: 375px;
            max-width: 150px;
            max-height: 375px;
        }

        /* cocktail poster in full colour */
        .hoverable_catalogue_item:hover {
            min-width: 165px;
            min-height: 412.5px;
        }

        /* cocktail poster */
        .hoverable_catalogue_item:not(:hover) {
            width: 200px;
            height: 500px;
        }

        /* Ensure that the story about the drink appear either next to, or below the poster and ingredient */
        .drink_paragraph_layout {
            text-align: justify;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 50px;
        }

        /* Giving the drink poster at its recipe page room to breathe */
        .catalogue_alignment {
        margin-left: auto;
        margin-right: 15px;
        }

        .about_us_width {
            text-align: justify;
            width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

        /* Preventing interference with the red diamond pattern*/
        hr {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
        }

        /* The off-white background appearing between the red diamond pattern */
        .main_background {
            width: 800px;
        }
}

/* Desktop (test for a 1920 * 1080 monitor) */
@media screen and (min-width: 1200px) {
    
    .drink_page_layout {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }

    /* cocktail poster */
    .catalogue_item {
        width: 200px;
        height: 500px;
        min-width: 200px;
        min-height: 500px;
        max-width: 220px;
        max-height: 550px;
    }

    /* cocktail poster in full colour */
    .hoverable_catalogue_item:hover {
        min-width: 220px;
        min-height: 550px;
    }

    /* cocktail poster */
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }

    /* Ensure that the story about the drink appear either next to, or below the poster and ingredient */
    .drink_paragraph_layout {
        text-align: justify;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: auto;
        width: 600px;
        height: auto;
    }

    /* Giving the drink poster at its recipe page room to breathe */
    .catalogue_alignment {
        margin-left: auto;
        margin-right: 15px;
    }

    .about_us_width {
        text-align: justify;
        width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    /* Preventing interference with the red diamond pattern*/
    hr {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    /* The off-white background appearing between the red diamond pattern */
    .main_background {
        width: 1200px;
    }
}