@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Kurale', serif;
}

.about_us>p, .contact_author_margin {
    margin-left: 15%;
    margin-right: 15%;
}

.welcome_sign {
    font-family: 'Kurale', serif;
    border: solid black 3px;
    background-color: white;
    box-shadow: 0 1px 8px rgb(78, 77, 83);
    border-radius: 5px;
    text-align: center;
    margin-top: 8vh;
    transition: all 0.4s ease;
}

.logo { 
    font-family: 'Kurale', serif;
    position: fixed;
    top: 2vh;
    z-index: 99;
    font-size: 3vh;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;
}
.logo > a {
    color: black;
    text-decoration: none;
}
.logo > a:hover {
    color: brown;
}

.recipe_header {
    text-align: center;
    margin-top: 8vh;
    font-family: 'Kurale', serif;
    font-size: 6vh;
    text-decoration: underline;
}

h2 {
    font-family: 'Kurale', serif;
    margin-bottom: 2vh;
    text-align: center;
}

nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}

.text_center {
    text-align: center !important;
    justify-content: center !important;
}

.socials {
    padding-bottom: 6vh;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    text-align: center;
    display: flex;
    flex: row;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: #d36e8c;
}
i {
    color: black;
}
i:hover {
    color: #ffffff;
}

.catalogue_item {
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}
.hoverable_catalogue_item:hover {
    box-shadow: 0 10px 18px rgb(78, 77, 83);
} 

.hornan_tonic:hover {
    content: url(../static/images/hornan_tonic_paint.png);
}

.gessi_tonic:hover {
    content: url(../static/images/gessi_tonic_paint.png);
}

.irish_coffee:hover {
    content: url(../static/images/irish_coffee_paint.png);
}

.sparkling_liquid:hover {
    content: url(../static/images/sparkling_liquid_paint.png);
}

h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 5vh;
    padding-top: 8vh;
}

.paragraph {
    text-align: justify;
    margin-left: 50px;
}

.catalogue_alignment {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
}
.wrap_catalogue_alignment {
    flex-wrap: wrap;
    justify-content: center;
}

.ingredients_div > ul {
    font-family: 'Kurale', serif;
    text-align: left;
    align-items: center;
    margin-left: 4vh;
    padding-left: 4vh;
    list-style-type: disc;
}

a {
    margin: 2vh;
}

.long_text_font {
    font-family: Arial, Helvetica, sans-serif;
}

.contact_styling {
    margin: 10px;
    justify-content: center;
}

input[type=email], input[type=name], textarea[type=text], input[type=submit], .contact_author {
    width: 260px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    border-width: 3px;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: #d36e8c;
    text-decoration: underline;
    color: #ffffff;
}

textarea[type=text] {
    height: 500px;
}

textarea[type=text]:focus {
    width: 500px;
    height: 500px;
}

label {
    padding: 10px;
    display: table;
}

/*
@media screen and (max-width: 768px) {
    iframe {
        height: 460px;    
        }
    }
@media screen and (min-width: 768px) {
        iframe {
        height: 610px;
        }
    } 

@media screen and (max-width: 1024px) {
.catalogue_item {
    width: 150px;
    height: 375px;
    min-width: 150px;
    min-height: 375px;
    max-width: 150px;
    max-height: 375px;
}
}
@media screen and (min-width: 1024px) {
.catalogue_item {
    width: 200px;
    height: 500px;
    min-width: 200px;
    min-height: 500px;
    max-width: 220px;
    max-height: 550px;
    }
}

@media screen and (max-width: 1024px) {
    .hoverable_catalogue_item:hover {
        min-width: 165px;
        min-height: 412.5px;
    }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
}
@media screen and (min-width: 1024px) {
    .hoverable_catalogue_item:hover {
        min-width: 220px;
        min-height: 550px;
        }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
}

@media screen and (max-width: 375px) {
    .drink_paragraph_location {
        display: flex;
        flex-direction: column; 
        margin-left: 45px;
        margin-right: 45px; 
    }
}
@media screen and (min-width: 375px) {
    .drink_paragraph_location {
        display: flex;
        flex-direction: column;
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .drink_paragraph_location {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }
}
@media screen and (min-width: 1200px) {
    .drink_paragraph_location {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }
}

@media screen and (max-width: 768px) {
    .welcome_sign {
        font-size: 30px;
        width: auto;
        padding: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (min-width: 768px) {
    .welcome_sign {
        font-size: 50px;
        width: 700px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}*/