@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grey_font {
    color: #6E6C77;
}
.black_font, nav>a {
    color: #3E3B4D;
}
.white_font {
    color: #FEF8F6;
}
.theme_font {
    color:#A2525A;
}

h3 {
    font-family: 'Kurale', serif;
}

.welcome_sign {
    font-family: 'Kurale', serif;
    border: solid #3E3B4D 6px;
    color: #3E3B4D;
    background-color: #ffffff;
    box-shadow: 0 1px 8px #6E6C77;
    border-radius: 5px;
    border-style: double;
    text-align: center;
    margin-top: 8vh;
    transition: all 0.4s ease;
}

.logo { 
    font-family: 'Kurale', serif;
    position: fixed;
    top: 2vh;
    z-index: 99;
    font-size: 20px;
    border: solid #3E3B4D 2px;
    border-radius: 3px;
    background-color: #FEF8F6;
    color: #3E3B4D;
}
.logo > a {
    text-decoration: none;
    color: #3E3B4D;
}
.logo > a:hover {
    color: #A2525A;
    text-decoration: underline;
}

.recipe_header {
    text-align: center;
    margin-top: 8vh;
    font-family: 'Kurale', serif;
    font-size: 6vh;
    text-decoration: underline;
}

h2 {
    font-family: 'Kurale', serif;
    margin-bottom: 2vh;
    text-align: center;
}

nav {
    font-family: 'Kurale', serif;
    padding: 10px;
    text-align: center;
}
nav>a {
    text-decoration: none;
}
nav>a:hover {
    color: #A2525A;
    text-decoration: underline;
}

.text_center {
    text-align: center !important;
    justify-content: center !important;
}

.socials {
    padding-bottom: 10vh;
    list-style-type: none;
    letter-spacing: 2vh;
    font-size: 4vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #2c2937;
    height: 500px;
}

i {
    color: #FEF8F6;
}
i:hover {
    color: #A2525A;
}

.catalogue_item {
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: all 0.4s ease;
}
.hoverable_catalogue_item:hover {
    box-shadow: 0 10px 18px #6E6C77;
} 

.hornan_tonic:hover {
    content: url(../static/images/hornan_tonic_paint.png);
}

.gessi_tonic:hover {
    content: url(../static/images/gessi_tonic_paint.png);
}

.irish_coffee:hover {
    content: url(../static/images/irish_coffee_paint.png);
}

.sparkling_liquid:hover {
    content: url(../static/images/sparkling_liquid_paint.png);
}

h3 {
    font-size: large;
    text-decoration: underline;
    padding-left: 5vh;
    padding-top: 8vh;
}

.paragraph {
    text-align: justify;
    margin-left: 50px;
}

.text_center {
    text-align: center;
    text-transform: none;
}

.catalogue_alignment {
    display: flex;
    flex-direction: row;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.wrap_catalogue_alignment {
    flex-wrap: wrap;
    justify-content: center;
}

.ingredients_div > ul {
    width: 140px;
    font-family: 'Kurale', serif;
    text-align: left;
    align-items: center;
    margin-left: 4vh;
    padding-left: 4vh;
    list-style-type: disc;
}

a {
    margin: 2vh;
}

.long_text_font {
    font-family: Arial, Helvetica, sans-serif;
}

.submit_styling {
    text-align: center;
    display: flex;
    justify-content: center;
}

input[type=email], input[type=name], input[type=submit], .contact_author {
    width: 260px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    border-width: 3px;
    border-radius: 10px;
    background-color: #FEF8F6;
}
textarea {
    width: 260px;
    height: 200px;
    padding: 5px;
    box-sizing: border-box;
    border-width: 3px;
    border-radius: 10px;
    background-color: #FEF8F6;
}

input[type=submit]:hover {
    background-color: #C17387;
    text-decoration: underline;
    color: #FEF8F6;
}

label {
    padding: 5px;
    display: table;
}

.fit_image {
    background-image: url("../static/images/elderflower_host.png");
    background-position: center;
    background-size: 100%;
}

body {
    background-image: url("../static/images/wallpaper.png");
    background-attachment: fixed;
}

.confirmation_page_layout {
    height: 200px;
    padding-top: 10px;
    justify-content: center;
}
.confirmation_page_logo {
    font-family: 'Kurale', serif;
    font-size: 3vh;
    border: solid #3E3B4D 2px;
    border-radius: 3px;
    background-color: #FEF8F6;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #3E3B4D;
    text-decoration: none;
}
.confirmation_page_logo:hover {
    text-decoration: underline;
    color: #A2525A;
}

@media screen and (max-width: 768px) {
    iframe {
        height: 460px;    
        }
        .drink_page_layout {
            display: flex;
            flex-direction: column; 
            margin-left: 45px;
            margin-right: 45px; 
        }
        .welcome_sign {
            font-size: 30px;
            width: auto;
            padding: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .catalogue_item {
            width: 150px;
            height: 375px;
            min-width: 150px;
            min-height: 375px;
            max-width: 150px;
            max-height: 375px;
        }
        .hoverable_catalogue_item:hover {
            min-width: 165px;
            min-height: 412.5px;
        }
        .hoverable_catalogue_item:not(:hover) {
            width: 200px;
            height: 500px;
        }
        .drink_paragraph_layout {
            text-align: justify;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: auto;
        }
        .catalogue_alignment {
            margin-left: auto;
            margin-right: auto;
        }
        .about_us_width {
            text-align: justify;
            width: 300px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        hr {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .main_border {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
            border: solid #3E3B4D 1px;
            background-color: #e1d7db;
        }
    }

@media screen and (min-width: 768px) {
        iframe {
        height: 610px;
        }
        .drink_page_layout {
            display: flex;
            flex-direction: column;
            margin-left: 45px;
            margin-right: 45px;
        }
        .welcome_sign {
            font-size: 50px;
            width: 700px;
            padding: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        .catalogue_item {
            width: 150px;
            height: 375px;
            min-width: 150px;
            min-height: 375px;
            max-width: 150px;
            max-height: 375px;
        }
        .hoverable_catalogue_item:hover {
            min-width: 165px;
            min-height: 412.5px;
        }
        .hoverable_catalogue_item:not(:hover) {
            width: 200px;
            height: 500px;
        }
        .drink_paragraph_layout {
            text-align: justify;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: auto;
        }
        .catalogue_alignment {
            margin-left: auto;
            margin-right: auto;
        }
        .about_us_width {
            text-align: justify;
            width: 400px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        hr {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .main_border {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
            border: solid #3E3B4D 1px;
            background-color: #e1d7db;
        }
    } 

@media screen and (min-width: 1024px) {
    .drink_page_layout {
        display: flex;
        flex-direction: row; 
        margin-left: 45px;
        margin-right: 45px; 
    }
    .catalogue_item {
        width: 150px;
        height: 375px;
        min-width: 150px;
        min-height: 375px;
        max-width: 150px;
        max-height: 375px;
    }
    .hoverable_catalogue_item:hover {
        min-width: 165px;
        min-height: 412.5px;
    }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
    .drink_paragraph_layout {
        text-align: justify;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .catalogue_alignment {
    margin-left: auto;
    margin-right: 15px;
    }
    .about_us_width {
        text-align: justify;
        width: 400px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .main_border {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
        height: 100%;
        border: solid #3E3B4D 3px;
        background-color: #e1d7db;
    }
}

@media screen and (min-width: 1200px) {
    .drink_page_layout {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 120px;
    }
    .catalogue_item {
        width: 200px;
        height: 500px;
        min-width: 200px;
        min-height: 500px;
        max-width: 220px;
        max-height: 550px;
    }
    .hoverable_catalogue_item:hover {
        min-width: 220px;
        min-height: 550px;
        }
    .hoverable_catalogue_item:not(:hover) {
        width: 200px;
        height: 500px;
    }
    .drink_paragraph_layout {
        text-align: justify;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: auto;
        width: 600px;
        height: auto;
    }
    .catalogue_alignment {
        margin-left: auto;
        margin-right: 15px;
    }
    .about_us_width {
        text-align: justify;
        width: 600px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    hr {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .main_border {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        height: 100%;
        border: solid #3E3B4D 3px;
        background-color: #e1d7db;
    }
}